# Infeasible agents for all regions

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('plans_palt20_infeasible_agents.csv')
df2 = pd.read_csv('plans_palt21_infeasible_agents.csv')
df3 = pd.read_csv('plans_palt22_infeasible_agents.csv')
df4 = pd.read_csv('plans_palt23_infeasible_agents.csv')
df5 = pd.read_csv('plans_palt24_infeasible_agents.csv')
df6 = pd.read_csv('plans_palt25_infeasible_agents.csv')
df7 = pd.read_csv('plans_vast13_infeasible_agents.csv')
df8 = pd.read_csv('plans_vast14_infeasible_agents.csv')
df9 = pd.read_csv('plans_vast17_infeasible_agents.csv')
df10 = pd.read_csv('plans_samm_infeasible_agents.csv')
df11 = pd.read_csv('plans_skane_infeasible_agents.csv')
df12 = pd.read_csv('plans_sydost_infeasible_agents.csv')

In [3]:
combined_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12], ignore_index=True)

In [4]:
combined_df.to_csv('combined_Sweden_Infeasible_Agents.csv', index=False)

In [5]:
df = pd.read_csv('combined_Sweden_Infeasible_Agents.csv')
df

             PId  region
0        2563211  palt20
1        2563286  palt20
2        2563287  palt20
3        2563291  palt20
4        2563298  palt20
...          ...     ...
298562  10196267  sydost
298563  10196358  sydost
298564  10196407  sydost
298565  10196476  sydost
298566  10196502  sydost

[298567 rows x 2 columns]

In [6]:
df['agent_status'] = 'infeasible'

In [7]:
df

             PId  region agent_status
0        2563211  palt20   infeasible
1        2563286  palt20   infeasible
2        2563287  palt20   infeasible
3        2563291  palt20   infeasible
4        2563298  palt20   infeasible
...          ...     ...          ...
298562  10196267  sydost   infeasible
298563  10196358  sydost   infeasible
298564  10196407  sydost   infeasible
298565  10196476  sydost   infeasible
298566  10196502  sydost   infeasible

[298567 rows x 3 columns]

In [8]:
df.to_csv('combined_Sweden_Infeasible_Agents.csv', index=False)      #writing to the file containing infeasible agents only